.avatar {
  height: 2.5em;
  margin: 0 1em 0 0.5em;
  position: relative;
  width: 2.5em;
}

.icon {
  margin: 0.5em;
}

.link {
  transition: background-color var(--transitionEaseOut), color var(--transitionEaseOut);
  color: var(--colorText);
  cursor: pointer;
  text-decoration: none;
}
.link:active, .link:focus {
  background-color: var(--colorGray8);
  color: white;
  text-decoration: none;
}
.link:hover {
  color: white;
  text-decoration: none;
}