.title {
  background-color: var(--colorGray9);
  margin-top: 32px;
  padding: 16px 0;
}
.title > * {
  opacity: 0;
  animation-duration: 700ms;
  animation-name: fadeIn;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

.counter {
  height: 48px;
  margin: 16px auto 0 auto;
  text-align: center;
  width: 50%;
}

.bullet {
  box-sizing: border-box;
  transition: background-color var(--transitionEaseOut);
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  content: "";
  display: inline-block;
  height: 12px;
  margin: 16px 8px;
  width: 12px;
}
.bulletActive{
  composes: bullet;
  background-color: white;
}
@media (min-width: 768px) {
  .bullet {
    border: 3px solid white;
    height: 16px;
    width: 16px;
  }
}